<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/"  roterLinkActive="active2" routerLinkOptions="{exact:true}">
        test
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a (click)="setPage('Driective')">Driective</a></li>
      <li><a (click)="setPage('InputOutput')">Input&&Output</a></li>
      <li routerLinkActive="active"><a (click)="setPage('')" [routerLink]="['/','create']">Service-Create</a></li>
      <li routerLinkActive="active"><a (click)="setPage('')" [routerLink]="['/create/20']">Service-Create :id</a></li>
      <li routerLinkActive="active"><a (click)="setPage('')" [routerLink]="['/','show']" [queryParams]="{hello:'send form navbar'}">Service-show</a></li>
      <li routerLinkActive="active"><a (click)="setPage('')" [routerLink]="['/','guard']">guard</a></li>
    </ul>
  </div>
</nav>
<ng-container *ngIf="page == 'Driective'">
    <h2>Driective</h2>
    <h1 align="center" AppD="red">My Tutorial </h1>
    <h1 align="center" AppD="green">My Tutorial </h1>
    <h1 align="center" AppD="blue">My Tutorial </h1>
</ng-container>
<ng-container *ngIf="page == 'InputOutput'">
        <h2>InputOutput</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-5">
          <app-child1 (onCeate)="OnsendData($event)"></app-child1>
        </div>
        <div class="col-sm-7">
          <app-child2 [(getItem)]="arr"></app-child2>
        </div>
      </div>
    </div>
</ng-container>

<ng-container *ngIf="page == 'Service'">
    <div class="container-fluid">
    <h2>Service</h2>
      <div class="row">
        <div class="col-sm-5">
          <app-servic-create></app-servic-create>
        </div>
        <div class="col-sm-7">
          <app-servicshow></app-servicshow>
        </div>
      </div>
    </div>
</ng-container>

<hr>
<router-outlet></router-outlet>